<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PreferenceSpecifiers</key>
    <array>
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>RUN_MODE_GROUP_TITLE</string>
            <key>FooterText</key>
            <string>RUN_MODE_GROUP_FOOTER</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Title</key>
            <string>RUN_MODE_TITLE</string>
            <key>Key</key>
            <string>app_run_mode</string>
            <key>DefaultValue</key>
            <string>release</string>
            <key>Titles</key>
            <array>
                <string>RUN_MODE_DEBUG</string>
                <string>RUN_MODE_RELEASE</string>
            </array>
            <key>Values</key>
            <array>
                <string>debug</string>
                <string>release</string>
            </array>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>LANGUAGE_GROUP_TITLE</string>
            <key>FooterText</key>
            <string>LANGUAGE_GROUP_FOOTER</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Title</key>
            <string>LANGUAGE_TITLE</string>
            <key>Key</key>
            <string>app_language_code</string>
            <key>DefaultValue</key>
            <string>en</string>
            <key>Titles</key>
            <array>
                <string>LANGUAGE_ENGLISH</string>
                <string>LANGUAGE_CHINESE</string>
            </array>
            <key>Values</key>
            <array>
                <string>en</string>
                <string>zh-Hant</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
