<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PreferenceSpecifiers</key>
    <array>
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>Run Mode</string>
            <key>FooterText</key>
            <string>Debug uses short durations for testing; Release uses normal eye-care durations.</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Title</key>
            <string>Mode</string>
            <key>Key</key>
            <string>app_run_mode</string>
            <key>DefaultValue</key>
            <string>release</string>
            <key>Titles</key>
            <array>
                <string>Debug</string>
                <string>Release</string>
            </array>
            <key>Values</key>
            <array>
                <string>debug</string>
                <string>release</string>
            </array>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>Preferred Language</string>
            <key>FooterText</key>
            <string>Choose the App UI language.</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Title</key>
            <string>Language</string>
            <key>Key</key>
            <string>app_language_code</string>
            <key>DefaultValue</key>
            <string>en</string>
            <key>Titles</key>
            <array>
                <string>English</string>
                <string>繁體中文</string>
            </array>
            <key>Values</key>
            <array>
                <string>en</string>
                <string>zh-Hant</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
